.newtable__header-text {
  font-family: cursive;
  color: teal;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.newtable__text {
  font-family: cursive;
  font-size: 20px;
  color: teal;
}

.newtable__btn--submit {
  height: 40px;
  width: 120px;
  background-color: teal;
  font-family: arial;
  font-size: 18px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  border: none;
}

.newtable__btn--cancel {
  background-color: #fa3e4ed5;
  font-family: arial;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: white;
  width: 120px;
  height: 40px;
}
